@* @model UniversityFormModel; *@


<h1>Succesfully Registered..</h1>




@*  <form action="/" method="post">
     <input type="text"  value="" />


 </form> *@


@* <p>@ViewBag.Fname</p> *@
<p>@ViewBag.ConfirmationMessage</p>