@model List<Coursera.Models.CourseLesson>;

<!-- Basic Bootstrap Table -->
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th style="color:white">Course Lesson Name</th>
                    <th style="color:white">Content Url</th>
                    <th style="color:white">Content Type</th>
                    <th style="color:white">Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var lessons in Model)
                {
                    <tr>
                        
                        <td>@lessons.CourseLessonName</td>

                        <td>@lessons.ContentUrl</td>
                        <td>@lessons.ContentType</td>
                        <td>
                            <button class="btn btn-outline-warning edit-lesson" data-id="@lessons.Id">Edit</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->

<script>
    $(document).ready(function(){
        $(document).on("click",".edit-lesson",function(){
          const LessonId=  $(this).data('id');
          $.get(`/Instructor/Course/GetLessonEdit?LessonId=${LessonId}`,function(html){
            $("#modalContainer").html(html);
            $('#editLessonModal').modal('show');
          });
        });

        $(document).on("submit","#editLessonForm",function(e){
            e.preventDefault();
          const formData= $(this).serialize();
          console.log(formData);
          $.post(`/Instructor/Course/UpdateLesson`,formData)
          .done(function(response){
            alert(response);
            location.reload();
          })
          .fail(function(xhr){
            alert(xhr.responseText);
          });
        });


    });
</script>