@model List<Coursera.Models.CourseSection>


<!-- Basic Bootstrap Table -->
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th style="color:white">Section Name</th>
                    <th style="color:white">Actions</th>
                    
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var sections in Model)
                {
                    <tr>                    
                        <td>@sections.CourseSectionName</td>
                        <td>
                            <button class="btn btn-outline-info me-1 view-lessons"
                                    type="button"
                                    data-id="@sections.Id"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#multiCollapseExample2"
                                    aria-expanded="false"
                                    aria-controls="multiCollapseExample2">
                                View Lessons
                            </button>


                            <button class="btn btn-outline-warning edit-section" data-id="@sections.Id">Edit</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->

<div class="collapse multi-collapse" id="multiCollapseExample2">
<!-- Placeholder for Lessons -->
<div id="lessonsContainer"></div>

</div>


<script>
    $(document).ready(function () {
        $(document).on("click", ".view-lessons", function () {
            const SectionId = $(this).data('id');
            $.get(`/Instructor/Course/GetLessons?SectionId=${SectionId}`, function (html) {
                $("#lessonsContainer").html(html);
            });
        });

        // Handle "Edit Course" button click
        $(document).on("click", ".edit-section", function () {
            const SectionId = $(this).data('id');
            $.get(`/Instructor/Course/GetSectionEdit?SectionId=${SectionId}`, function (html) {
                $("#modalContainer").html(html);
                $('#editSectionModal').modal('show'); // Show the modal if using Bootstrap
            });
        });

        $(document).on('submit', '#editSectionForm', function (e) {
            e.preventDefault(); // Prevents default form submission

            const formData = $(this).serialize(); // Serializes form inputs into a query string
            console.log(formData);

            $.post('/Instructor/Course/UpdateSection', formData)
                .done(function (response) {
                    alert(response); // Success message from the server
                    location.reload(); // Refresh the page to display updated course list
                })
                .fail(function (xhr) {
                    alert(xhr.responseText); // Show server error message
                });
        });

    });
</script>
